<%= form_for @credit_card do |f| %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :nickName, class: 'mdl-textfield__label' %>
    <%= f.text_field :nickName, class: 'mdl-textfield__input' %>
      <span class="spin"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :provider, class: 'mdl-textfield__label' %>
      <%= f.text_field :provider, class: 'mdl-textfield__input' %>
      <span class="spin"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :pointsProvidor, class: 'mdl-textfield__label' %>
      <%= f.text_field :pointsProvidor, class: 'mdl-textfield__input' %>
      <span class="spin"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :interestRate, class: 'mdl-textfield__label' %>
      <%= f.number_field :interestRate, class: 'mdl-textfield__input', step: :any %>
      <span class="spin"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :balance, class: 'mdl-textfield__label' %>
      <%= f.number_field :balance, class: 'mdl-textfield__input' %>
      <span class="spin"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :limit, class: 'mdl-textfield__label' %>
      <%= f.number_field :limit, class: 'mdl-textfield__input' %>
      <span class="spin"></span>
    </div>

  <div class="button login">
    <div class="actions">
      <%= f.submit class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
    </div>
  </div>
<% end %>
