<% if user_signed_in? %>
<h1>Income</h1>
<br>
  <% if current_user.incomes.any? %>
<div class="mdl-tabs mdl-js-tabs">
  <div class="mdl-tabs__tab-bar">
    <a href="#tab1-panel" class="mdl-tabs__tab">Weekly</a>
    <a href="#tab2a-panel" class="mdl-tabs__tab is-active">Fortnightly</a>
    <a href="#tab2-panel" class="mdl-tabs__tab">Monthly</a>
    <a href="#tab3-panel" class="mdl-tabs__tab">Annually</a>
  </div>
  <div class="mdl-tabs__panel " id="tab1-panel">

    <h3>Weekly</h3>
    <br>

    <table class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>From</th>
        <th>Income</th>
        <th>Tax</th>
        <th>Income After Tax</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= link_to income.name, edit_income_path(income) %></td>
          <td><%= income.incomeType %></td>
          <td><%= income.payer %></td>
          <td><%= number_to_currency(income.weekly_income, unit: "$") %></td>
          <td><%= number_to_currency(income.weekly_tax, unit: "$") %></td>
          <td><%= number_to_currency(income.weekly__income_after_tax, unit: "$") %></td>
          <td><%= link_to income, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="material-icons">delete_forever</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@total_weekly_income, unit: "$") %></td>
        <td></td>
        <td><%= number_to_currency(@total_weekly_income_after_tax, unit: "$") %></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Income', new_income_path %>
  </div>

  <div class="mdl-tabs__panel is-active" id="tab2a-panel">

    <h3>Fortnightly</h3>
    <br>

    <table class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>From</th>
        <th>Income</th>
        <th>Tax</th>
        <th>Income After Tax</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= link_to income.name, edit_income_path(income) %></td>
          <td><%= income.incomeType %></td>
          <td><%= income.payer %></td>
          <td><%= number_to_currency(income.fortnightly_income, unit: "$") %></td>
          <td><%= number_to_currency(income.fortnightly_tax, unit: "$") %></td>
          <td><%= number_to_currency(income.fortnightly_income_after_tax, unit: "$") %></td>
          <td><%= link_to income, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="material-icons">delete_forever</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@total_fortnightly_income, unit: "$") %></td>
        <td></td>
        <td><%= number_to_currency(@total_fortnightly_income_after_tax, unit: "$") %></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Income', new_income_path %>
  </div>

  <div class="mdl-tabs__panel" id="tab2-panel">
    <h3>Monthly</h3>
    <br>
    <br>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>From</th>
        <th>Income</th>
        <th>Tax</th>
        <th>Income After Tax</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= link_to income.name, edit_income_path(income) %></td>
          <td><%= income.incomeType %></td>
          <td><%= income.payer %></td>
          <td><%= number_to_currency(income.monthly_income, unit: "$") %></td>
          <td><%= number_to_currency(income.monthly_tax, unit: "$") %></td>
          <td><%= number_to_currency(income.monthly_income_after_tax, unit: "$") %></td>
          <td><%= link_to income, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="material-icons">delete_forever</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@total_monthly_income, unit: "$") %></td>
        <td></td>
        <td><%= number_to_currency(@total_monthly_income_after_tax, unit: "$") %></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Income', new_income_path %>
  </div>

  <div class="mdl-tabs__panel" id="tab3-panel">
    <h3>Annually</h3>
    <br>
    <br>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>From</th>
        <th>Income</th>
        <th>Tax</th>
        <th>Income After Tax</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= link_to income.name, edit_income_path(income) %></td>
          <td><%= income.incomeType %></td>
          <td><%= income.payer %></td>
          <td><%= number_to_currency(income.annual_income, unit: "$") %></td>
          <td><%= number_to_currency(income.superannuation, unit: "$") %></td>
          <td><%= number_to_currency(income.tax, unit: "$") %></td>
          <td><%= number_to_currency(income.annual_after_tax_income, unit: "$") %></td>
          <td><%= link_to income,  method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="material-icons">delete_forever</i>
          <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@total_annual_income, unit: "$") %></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@total_annual_income_after_tax, unit: "$") %></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Income', new_income_path %>
    <br>
  </div>
</div>
  <% else %>
    You have no Income, better
    <%= link_to new_income_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored' do %>
      <i class="material-icons">add</i>
    <% end %>
    some.
<% end %>
<% end %>