<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @loan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan.description %>
</p>

<p>
  <strong>Lengthinmonths:</strong>
  <%= @loan.lengthInMonths %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
