<p id="notice"><%= notice %></p>

<h1>Subscriptions</h1>
<% if current_user.subs.any? %>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Frequency</th>
      <th>Amount</th>
      <th>Annual Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @subs.each do |sub| %>
      <tr>
        <td><%= link_to sub.name, sub %></td>
        <td><%= sub.description %></td>
        <td><%= sub.frequency %></td>
        <td><%= number_to_currency(sub.amount, unit: "$") %></td>
        <td><%= number_to_currency(sub.annual_cost, unit: "$") %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_to_currency(@monthly_subs, unit: "$") %></td>
    <td><%= number_to_currency(@total_annual_subs, unit: "$") %></td>
  </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Subscription', new_sub_path %>
<% else %>
  You have no Subscriptions, better
  <%= link_to new_sub_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored' do %>
    <i class="material-icons">add</i>
    <% end %>
  one.
<% end %>