<!DOCTYPE html>
<html>
<head>
  <title>BillyCard</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <!-- Start of Async Drift Code -->
  <script>
      !function() {
          var t;
          if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
              t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
              t.factory = function(e) {
                  return function() {
                      var n;
                      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                  };
              }, t.methods.forEach(function(e) {
              t[e] = t.factory(e);
          }), t.load = function(t) {
              var e, n, o, i;
              e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                  n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
          });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('ry55e7rv36k2');
  </script>
  <!-- End of Async Drift Code -->
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render 'shared/navbar' %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
          <%= yield %>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </div>
    </div>
  </main>
  <%= render 'shared/footer' %>
</div>
<script async data-cfasync="false" src="https://d29l98y0pmei9d.cloudfront.net/js/widget.min.js?k=Y2xpZW50SWQ9MTMyOCZob3N0TmFtZT1iaWxseWNhcmQuc3VwcG9ydGhlcm8uaW8="></script>
</body>
</html>

